<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard - Express App</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-mono bg-zinc-950 text-zinc-100 min-h-screen">

<div class="max-w-4xl mx-auto px-6 py-10">

  <!-- Top Bar -->
  <div class="flex justify-between items-center mb-10">
    <h1 class="text-2xl font-bold tracking-tight">
      Edit
    </h1>

    <a href="/logout"
       class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-5 rounded-lg transition duration-200 shadow-lg hover:shadow-red-900/40">
      Logout
    </a>
  </div>
  

  <!-- Create Post Card -->
  <div class="bg-zinc-900 border border-zinc-800 rounded-2xl p-6 shadow-xl">
    <form action="/updatepost/<%= post._id %>" method="POST" class="flex flex-col gap-5">

      <textarea 
        name="content"
        rows="5"
        placeholder="Edit your post "
        class="w-full resize-none bg-zinc-950 border border-zinc-800 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none rounded-xl p-4 transition"
      ><%= post.content %> </textarea>

      <button 
        type="submit"
        class="self-end bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg transition shadow-lg hover:shadow-blue-900/40">
        Update  Post
      </button>

    </form>
  </div>

  <!-- Posts Section -->

</div>

</body>
</html>